[core]
	editor = vim
[user]
	email = {{ .email }}
	name = Peter Romba
	signingkey = 2CF9E4779F1C3E73
[commit]
	gpgsign = true
[gpg]
	program = gpg
[init]
	defaultBranch = main
[color]
	ui = auto
[merge]
	tool = vimdiff
