#!/bin/bash

apt_package_prereqs=({{ range .packages.apt -}}{{ . | quote }} {{ end -}})
pip_package_prereqs=({{ range .packages.pip -}}{{ . | quote }} {{ end -}})
snap_package_prereqs=({{ range .packages.snap -}}{{ . | quote }} {{ end -}})

# Install missing apt packages, if any
for element in "${apt_package_prereqs[@]}"; do
  echo "Checking for apt package $element"
  if ! dpkg -s $element &>/dev/null; then
    echo "Apt package $element not present and must be installed."
    apt_packages_for_installation+=("$element")
  fi
done

if [[ "${#apt_packages_for_installation[@]}" -gt "0" ]]; then
  sudo apt install -y ${apt_packages_for_installation[*]}
fi

# Install missing pip packages, if any
for element in "${pip_package_prereqs[@]}"; do
  echo "Checking for pip package $element"
  if ! pipx list --short | grep ${element} &>/dev/null; then
    echo "Pip package $element not present and must be installed."
    pip_packages_for_installation+=("$element")
  fi
done

if [[ "${#pip_packages_for_installation[@]}" -gt "0" ]]; then
  pipx install ${pip_packages_for_installation[*]}
fi

for element in "${snap_package_prereqs[@]}"; do
  echo "Checking for snap $element"
  if ! snap list | cut -d' ' -f1 | grep "^${element}\$" &>/dev/null; then
    echo "Snap $element not present and must be installed."
    snaps_for_installation+=("$element")
  fi
done

if [[ "${#snaps_for_installation[@]}" -gt "0" ]]; then
  snap install ${snaps_for_installation[*]}
fi

